<div id="content">
    <div class="inner_content">
        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="error_page">
                        <div class="error_number">
                            Ops!
                        </div>

                        <div class="error_description">
                            <h3>Something wrong!</h3>

                            <p>
                                There was an internal error on the page.<br />
                                Please try again later.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>